# AWS Configuration
aws_region = "eu-central-1"

# VPC Configuration
vpc_cidr = "10.0.0.0/16"
public_subnets = ["10.0.1.0/24", "10.0.3.0/24"]
private_subnets = ["10.0.2.0/24", "10.0.4.0/24"]

# EKS Configuration
cluster_name = "sre-lab-eks"
cluster_version = "1.28"

# Node Group Configuration
node_instance_types = ["t3.medium"]
node_desired_size = 2
node_max_size = 4
node_min_size = 1

# Tags
common_tags = {
  Project     = "SRE-Lab"
  Environment = "training"
  Owner       = "your-name"
  CreatedBy   = "terraform"
}
